/*region HEADER section*/
header {
    background-color: #ffe541;
}

._header-wrapper {
    padding: 30px 0 30px 15px;
    background-color: rgba(0, 0, 0, 0);
}

._header-title {
    color: #000;
    text-shadow: none;
    font-family: Lato, Helvetica, Arial, sans-serif !important;
    font-size: 47px;
    font-weight: 700;
    font-style: normal;
    line-height: 47px;
    letter-spacing: 0;
    padding: 6px 0;
    margin-left: 0;
    text-transform: none;
}

._header-title:hover {
    color: #000;
}

._header-subtitle {
    color: #000;
    text-shadow: none;
    text-transform: none;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    padding: 5px 0;
    margin-left: 0;
    font-style: normal;
}

/*on tablet and phone*/
@media only screen and (max-width: 991px) {
    ._header-wrapper {
        padding-left: 5px !important;
    }
}


/*region NAVBAR section*/
._navbar-background {
    background-color: #232323;
    margin-right: -15px;
}

._navbar-active {
    font-weight: 700;
}

._all_navbar {
    padding-left: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

._navbar-text {
    margin-right: 20px;
    font-size: 18px;
    line-height: 13px;
    color: #fff !important;

}

._toggler-box {
    text-align: center !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
    background-color: #000 !important;
    background-image: none !important;
    color: #fff !important;
    vertical-align: middle !important;
    border: 0 solid #ccc !important;
    border-radius: 18px !important;
}

.nav-item:hover {
    text-decoration: underline;
}

/*on tablet and phone*/
@media only screen and (max-width: 991px) {
    .nav-item {
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
    }

    ._all_navbar {
        padding-left: 25px !important;
    }
}

/*endregion NAVBAR section*/
/*endregion HEADER section*/
