<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/common/footer.css}" rel="stylesheet">
</head>
<body>
<footer>
    <div class="_footer">
        <div class="row">
            <div class="_footer-info-text col-8">
                This website was created with SimpleSite
            </div>

            <div class="col-4">
                <div class="_footer-page-counter">
                    <span class="_footer-page-counter-item">0</span>

                    <span class="_footer-page-counter-item">0</span>

                    <span class="_footer-page-counter-item">1</span>

                    <span class="_footer-page-counter-item">8</span>

                    <span class="_footer-page-counter-item">3</span>

                    <span class="_footer-page-counter-item">5</span>
                </div>

            </div>
        </div>
        <div id="css_simplesite_com_fallback" class="hide"></div>
    </div>
</footer>
</body>
</html>